@font-face {
  font-family: "norsebold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  height: 100vh;
}

.container-left {
  background-image: url(./img/pic.jpg);
  background-size: cover;
  background-position: center, center;
  flex: 0 0 33%;
}

.logo-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20%;
}

.logo-text {
  color: #fff;
  font-family: "norsebold";
  font-size: 10rem;
}
